.App {
  margin: 8pt;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 0.3rem;
  vertical-align: top;
}

td {
  text-align: right;
}

.bases td {
  border-width: 0;
  text-align: left;
}

.bases td.baseName {
  width: 4.5em;
  border-width: 1px 1px 0 0
}

.bases td.baseDiff {
  width: 5.5em;
  border-width: 1px 0 0 1px;
  text-align: right;
}

.bases td.firstBase.firstBase {
  border-top: 0;
}

.bigdiff {
  background: #cc4;
}

.error {
  background: #f44;
}

td.comment {
  text-align: left;
  white-space: pre-wrap;
}